@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Thin.eot");
  src: local("Geometria Thin"), local("Geometria-Thin"), url("../fonts/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-MediumItalic.eot");
  src: local("Geometria MediumItalic"), local("Geometria-MediumItalic"), url("../fonts/Geometria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Italic.eot");
  src: local("Geometria Italic"), local("Geometria-Italic"), url("../fonts/Geometria-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.eot");
  src: local("Geometria Heavy"), local("Geometria-Heavy"), url("../fonts/Geometria-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBoldItalic.eot");
  src: local("Geometria ExtraBoldItalic"), local("Geometria-ExtraBoldItalic"), url("../fonts/Geometria-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBoldItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.eot");
  src: local("Geometria Medium"), local("Geometria-Medium"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-BoldItalic.eot");
  src: local("Geometria BoldItalic"), local("Geometria-BoldItalic"), url("../fonts/Geometria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-LightItalic.eot");
  src: local("Geometria LightItalic"), local("Geometria-LightItalic"), url("../fonts/Geometria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-HeavyItalic.eot");
  src: local("Geometria HeavyItalic"), local("Geometria-HeavyItalic"), url("../fonts/Geometria-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.eot");
  src: local("Geometria"), url("../fonts/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.eot");
  src: local("Geometria Bold"), local("Geometria-Bold"), url("../fonts/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBold.eot");
  src: local("Geometria ExtraBold"), local("Geometria-ExtraBold"), url("../fonts/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ThinItalic.eot");
  src: local("Geometria ThinItalic"), local("Geometria-ThinItalic"), url("../fonts/Geometria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLightItalic.eot");
  src: local("Geometria ExtraLightItalic"), local("Geometria-ExtraLightItalic"), url("../fonts/Geometria-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light.eot");
  src: local("Geometria Light"), local("Geometria-Light"), url("../fonts/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLight.eot");
  src: local("Geometria ExtraLight"), local("Geometria-ExtraLight"), url("../fonts/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.eot");
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../fonts/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"), url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.eot");
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"), url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.eot");
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.eot");
  src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Thin.woff") format("woff"), url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.eot");
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-BoldItalic.woff") format("woff"), url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.eot");
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../fonts/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"), url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.eot");
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Black.woff") format("woff"), url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.eot");
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("../fonts/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ThinItalic.woff") format("woff"), url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.eot");
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.eot");
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-LightItalic.woff") format("woff"), url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.eot");
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.eot");
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../fonts/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-BlackItalic.woff") format("woff"), url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.eot");
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Italic.woff") format("woff"), url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.header {
  padding: 35px 0 17px;
  margin: 0 0 30px 0;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0 0 calc((187/1112)*100%);
  -ms-flex: 0 0 calc((187/1112)*100%);
  flex: 0 0 calc((187/1112)*100%);
  padding: 0 0 calc((32/1112)*100%) 0;
  margin: 0 auto 0 0;
}
.header__menu {
  margin: 0 53px 0 0;
}
.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 450px) {
  .header__sign {
    font-size: 14px;
  }
}
.header__sign_in {
  display: block;
  width: 102px;
  height: 46px;
  border: 1px solid #BCD0E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin: 0 14px 0 0;
  color: #173A56;
}
@media (max-width: 630px) {
  .header__sign_in {
    width: 80px;
    height: 46px;
  }
}
@media (max-width: 450px) {
  .header__sign_in {
    width: 60px;
    height: 46px;
  }
}
.header__sign_in:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__sign_up {
  display: block;
  width: 110px;
  height: 46px;
  background: #FF9900;
  border-radius: 4px;
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .header__sign_up {
    width: 80px;
    height: 46px;
  }
}
@media (max-width: 450px) {
  .header__sign_up {
    width: 60px;
    height: 46px;
  }
}
.header__sign_up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  margin: 0 26px 0 0;
}
.menu__list li:last-child {
  margin: 0 0 0 0;
}
.menu__link {
  position: relative;
  font-size: 14px;
  line-height: 28px;
  color: #2F281E;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2F281E;
}

@media (max-width: 768px) {
  .lock {
    overflow: hidden;
  }

  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -100%;
    z-index: 3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
    background: white;
    width: 100%;
    height: 100vh;
    padding: 100px;
  }

  .header__menu.active {
    top: 0;
  }

  .menu__link {
    font-size: 25px;
    line-height: 40px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 28px;
    margin-right: 3px;
    z-index: 3;
    margin: 0 auto;
  }

  .header__burger::after,
.header__burger::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 1px;
    background: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    display: block;
    height: 1px;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger.active::before {
    top: 18px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 1px;
  }

  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    height: 1px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

:root {
  --fontsize1: 44px;
  --fontsize2: 18px;
  --fontsize3: 16px;
  --fontsize4: 22px;
  --fontsize5: 36px;
}

@media (max-width: 768px) {
  :root {
    --fontsize1: 36px;
    --fontsize2: 16px;
    --fontsize3: 14px;
    --fontsize4: 18px;
    --fontsize5: 32px;
  }
}
@media (max-width: 375px) {
  :root {
    --fontsize1: 32px;
    --fontsize2: 14px;
    --fontsize3: 14px;
    --fontsize4: 16px;
    --fontsize5: 28px;
  }
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1142px;
  padding: 0px 15px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.first-screen {
  margin: 0 0 111.17px;
}
.first-screen__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen__offer {
  max-width: 462px;
  padding: 0 0px 0 8px;
}
.first-screen__image {
  -webkit-box-flex: 0 0 calc((604/1112)*100%);
  -ms-flex: 0 0 calc((604/1112)*100%);
  flex: 0 0 calc((604/1112)*100%);
  padding: 0 0 calc((495/1112)*100%) 0;
  margin: 0 -20px 0 0;
}
@media (max-width: 630px) {
  .first-screen__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 247px;
    padding: 0;
    z-index: -1;
    opacity: 0.3;
  }
}

.offer__title {
  font-weight: 700;
  font-size: var(--fontsize1);
  line-height: 123%;
  color: #2F281E;
  margin: 0 0 30px 0;
}
@media (max-width: 375px) {
  .offer__title {
    margin: 0 0 20px 0;
  }
}
.offer__text {
  font-size: var(--fontsize2);
  line-height: 156%;
  color: #544837;
  margin: 0 0 53px 0;
}
@media (max-width: 375px) {
  .offer__text {
    margin: 0 0 30px 0;
  }
}
.offer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .offer__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.offer__actions_btn {
  margin: 0 30px 0 0;
}
@media (max-width: 768px) {
  .offer__actions_btn {
    margin: 0 0 20px 0;
  }
}
.offer__actions_link img {
  margin: 0 8.5px 0 0px;
}
.offer__actions_link span {
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 600;
  font-size: var(--fontsize3);
  line-height: 20px;
  text-decoration: underline;
  color: #FF9900;
}
.offer__actions_link span:hover {
  text-decoration: none;
}

.button {
  display: block;
  width: 175px;
  height: 53px;
  background: #FF9900;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: var(--fontsize3);
  line-height: 53px;
  color: #FFFFFF;
}
.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 768px) {
  .button {
    width: 130px;
    height: 40px;
    line-height: 40px;
  }
}

.design-tools {
  margin: 0 0 125px 0;
}
.design-tools__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.design-tools__title {
  max-width: 539px;
  margin: 0 auto 54px;
}
.design-tools__вenefits {
  margin: 0 0 30px 0;
}
.design-tools__button {
  position: relative;
  z-index: 3;
}

.container-design-tools {
  max-width: 1400px;
  padding: 0px 0 90px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.background {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: linear-gradient(179.59deg, rgba(255, 244, 229, 0.0001) 0.35%, rgba(255, 229, 210, 0.629261) 99.63%);
  border-radius: 0 0 200% 200%;
  width: 1450px;
  height: 100%;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: var(--fontsize5);
  line-height: 150%;
  text-align: center;
  color: #2F281E;
}

.вenefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 22px;
}
@media (max-width: 962px) {
  .вenefits {
    max-width: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.вenefits__item {
  -webkit-box-flex: 0 0 214px;
  -ms-flex: 0 0 214px;
  flex: 0 0 214px;
}
@media (max-width: 962px) {
  .вenefits__item {
    margin: 0 0 20px 0;
  }
}

.item__icon {
  margin: 0 0 30px 0;
}
.section-subtitle {
  font-weight: 600;
  font-size: var(--fontsize4);
  line-height: 33px;
  color: #2F281E;
  margin: 0 0 14px 0;
}

.text {
  font-weight: 500;
  font-size: var(--fontsize3);
  line-height: 162%;
  color: #544837;
}

.articles__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 85px 0;
}
.articles__body:nth-child(2) {
  padding: 0 0 0 10px;
  margin: 0 0 118px 0;
}
.articles__content {
  -webkit-box-flex: 0 0 calc((475/1112)*100%);
  -ms-flex: 0 0 calc((475/1112)*100%);
  flex: 0 0 calc((475/1112)*100%);
  padding: 30px 0 0 10px;
}
@media (max-width: 830px) {
  .articles__content {
    -webkit-box-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.articles__image {
  -webkit-box-flex: 0 0 calc((520/1112)*100%);
  -ms-flex: 0 0 calc((520/1112)*100%);
  flex: 0 0 calc((520/1112)*100%);
  padding: 0 0 calc((574/1112)*100%) 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
@media (max-width: 830px) {
  .articles__image {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    height: 90%;
    width: 60%;
    z-index: -1;
  }
}
@media (max-width: 830px) {
  .articles__image {
    opacity: 0.1;
  }
}
.articles__image_2 {
  -webkit-box-flex: 0 0 calc((535/1112)*100%);
  -ms-flex: 0 0 calc((535/1112)*100%);
  flex: 0 0 calc((535/1112)*100%);
  padding: 0 0 calc((521/1112)*100%) 0;
}
@media (max-width: 830px) {
  .articles__image_2 {
    left: 0;
  }
}
.articles__image_3 {
  -webkit-box-flex: 0 0 calc((542/1112)*100%);
  -ms-flex: 0 0 calc((542/1112)*100%);
  flex: 0 0 calc((542/1112)*100%);
  padding: 0 0 calc((609/1112)*100%) 0;
}
.articles p {
  margin: 0 0 25px 0;
}

.first {
  margin: 0 0 30px 0;
}

@media (max-width: 830px) {
  .content {
    max-width: 500px;
  }
}
.content_2 {
  padding: 50px 0 0 0;
}
@media (max-width: 830px) {
  .content_2 {
    margin: 0 0 0 auto;
  }
}
.content__title {
  text-align: left;
  margin: 0 0 22px 0;
}
.content h4 {
  font-weight: 700;
  color: #2F281E;
  margin: 0 0 12px 0;
}
.content__list li {
  padding: 0 0 0 65px;
  margin: 0 0 30px 0;
  position: relative;
  max-width: 450px;
}
.content__list li:first-child {
  max-width: 430px;
}
.content__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 41px;
  width: 35px;
  background: url(../img/icons/mark.png) 0 6px/contain no-repeat;
}