*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%; min-width: $minwidth; line-height:1;font-size:14px; font-family:$fontfamily; -ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:$fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

*{
   transition: all 0.3s ease;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Thin.eot');
	src: local('Geometria Thin'), local('Geometria-Thin'),
		url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Thin.woff') format('woff'),
		url('../fonts/Geometria-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-MediumItalic.eot');
	src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'),
		url('../fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-MediumItalic.woff') format('woff'),
		url('../fonts/Geometria-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Italic.eot');
	src: local('Geometria Italic'), local('Geometria-Italic'),
		url('../fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Italic.woff') format('woff'),
		url('../fonts/Geometria-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Heavy.eot');
	src: local('Geometria Heavy'), local('Geometria-Heavy'),
		url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Heavy.woff') format('woff'),
		url('../fonts/Geometria-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraBoldItalic.eot');
	src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'),
		url('../fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-BoldItalic.eot');
	src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'),
		url('../fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-BoldItalic.woff') format('woff'),
		url('../fonts/Geometria-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-LightItalic.eot');
	src: local('Geometria LightItalic'), local('Geometria-LightItalic'),
		url('../fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-LightItalic.woff') format('woff'),
		url('../fonts/Geometria-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-HeavyItalic.eot');
	src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'),
		url('../fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-HeavyItalic.woff') format('woff'),
		url('../fonts/Geometria-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Bold.woff') format('woff'),
		url('../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBold.woff') format('woff'),
		url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ThinItalic.eot');
	src: local('Geometria ThinItalic'), local('Geometria-ThinItalic'),
		url('../fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ThinItalic.woff') format('woff'),
		url('../fonts/Geometria-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraLightItalic.eot');
	src: local('Geometria ExtraLightItalic'), local('Geometria-ExtraLightItalic'),
		url('../fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraLightItalic.woff') format('woff'),
		url('../fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Light.eot');
	src: local('Geometria Light'), local('Geometria-Light'),
		url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Light.woff') format('woff'),
		url('../fonts/Geometria-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraLight.eot');
	src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
		url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraLight.woff') format('woff'),
		url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-ExtraLightItalic.eot');
   src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'),
       url('../fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'),
       url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-ExtraBoldItalic.eot');
   src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'),
       url('../fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
       url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 800;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-ExtraBold.eot');
   src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('../fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-ExtraBold.woff') format('woff'),
       url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Thin.eot');
   src: local('Poppins Thin'), local('Poppins-Thin'),
       url('../fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Thin.woff') format('woff'),
       url('../fonts/Poppins-Thin.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-BoldItalic.eot');
   src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
       url('../fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-BoldItalic.woff') format('woff'),
       url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-SemiBoldItalic.eot');
   src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
       url('../fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'),
       url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Black.eot');
   src: local('Poppins Black'), local('Poppins-Black'),
       url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Black.woff') format('woff'),
       url('../fonts/Poppins-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-ThinItalic.eot');
   src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
       url('../fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-ThinItalic.woff') format('woff'),
       url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Medium.eot');
   src: local('Poppins Medium'), local('Poppins-Medium'),
       url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Medium.woff') format('woff'),
       url('../fonts/Poppins-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-ExtraLight.eot');
   src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
       url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-ExtraLight.woff') format('woff'),
       url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-LightItalic.eot');
   src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
       url('../fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-LightItalic.woff') format('woff'),
       url('../fonts/Poppins-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Regular.eot');
   src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Regular.woff') format('woff'),
       url('../fonts/Poppins-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-MediumItalic.eot');
   src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
       url('../fonts/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-MediumItalic.woff') format('woff'),
       url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-SemiBold.eot');
   src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-SemiBold.woff') format('woff'),
       url('../fonts/Poppins-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Light.eot');
   src: local('Poppins Light'), local('Poppins-Light'),
       url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Light.woff') format('woff'),
       url('../fonts/Poppins-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-BlackItalic.eot');
   src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
       url('../fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-BlackItalic.woff') format('woff'),
       url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Italic.eot');
   src: local('Poppins Italic'), local('Poppins-Italic'),
       url('../fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Italic.woff') format('woff'),
       url('../fonts/Poppins-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Poppins';
   src: url('../fonts/Poppins-Bold.eot');
   src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Poppins-Bold.woff') format('woff'),
       url('../fonts/Poppins-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

